{% macro social_links(social_config) %}
  {% if social_config.facebook %}
  <a class="has-text-facebook" href="https://facebook.com/{{ social_config.facebook }}" target="_blank">
    {{ self::social_item(title="Facebook", icon_name="fa-facebook") }}
  </a>
  {% endif %}

  {% if social_config.twitter %}
  <a class="has-text-twitter" href="https://twitter.com/{{ social_config.twitter }}" target="_blank" rel="me">
    {{ self::social_item(title="Twitter", icon_name="fa-twitter") }}
  </a>
  {% endif %}

  {% if social_config.linkedin %}
  <a class="has-text-linkedin" href="https://www.linkedin.com/in/{{ social_config.linkedin }}" target="_blank">
    {{ self::social_item(title="LinkedIn", icon_name="fa-linkedin") }}
  </a>
  {% endif %}

  {% if social_config.instagram %}
  <a class="has-text-instagram" href="https://www.instagram.com/{{ social_config.instagram}}" target="_blank">
    {{ self::social_item(title="Instagram", icon_name="fa-instagram") }}
  </a>
  {% endif %}

  {% if social_config.reddit %}
  <a class="has-text-reddit" href="https://www.reddit.com/user/{{ social_config.reddit }}" target="_blank">
    {{ self::social_item(title="Reddit", icon_name="fa-reddit") }}
  </a>
  {% endif %}

  {% if social_config.discord %}
  <a class="has-text-discord" href="https://discordapp.com/users/{{ social_config.discord }}" target="_blank">
    {{ self::social_item(title="Discord", icon_name="fa-discord") }}
  </a>
  {% endif %}

  {% if social_config.mastodon %}
  <a class="has-text-mastodon" href="https://mastodon.social/{{ social_config.mastodon }}" target="_blank" rel="me">
    {{ self::social_item(title="Mastodon", icon_name="fa-mastodon") }}
  </a>
  {% endif %}

  {% if social_config.github %}
  <a class="has-text-github" href="https://github.com/{{ social_config.github }}" target="_blank" rel="me">
    {{ self::social_item(title="Github", icon_name="fa-github") }}
  </a>
  {% endif %}

  {% if social_config.bitbucket %}
  <a class="has-text-bitbucket" href="https://bitbucket.org/{{ social_config.bitbucket }}" target="_blank">
    {{ self::social_item(title="Bitbucket", icon_name="fa-bitbucket") }}
  </a>
  {% endif %}

  {% if social_config.gitlab %}
  <a class="has-text-gitlab" href="https://gitlab.com/{{ social_config.gitlab }}" target="_blank">
    {{ self::social_item(title="Gitlab", icon_name="fa-gitlab") }}
  </a>
  {% endif %}

  {% if social_config.stackoverflow %}
  <a class="has-text-stackoverflow" href="https://stackoverflow.com/users/{{ social_config.stackoverflow }}"
    target="_blank">
    {{ self::social_item(title="Stack Overflow", icon_name="fa-stack-overflow") }}
  </a>
  {% endif %}

  {% if social_config.email %}
  <a class="has-text-black" href="mailto:{{ social_config.email }}" target="_blank" rel="me">
    {{ self::social_item(title="Email", icon_name="fa-envelope", icon_type="far") }}
  </a>
  {% endif %}

  {% if social_config.googleplay %}
  <a href="https://play.google.com/store/apps/developer?id={{ social_config.googleplay }}&hl=en" target="_blank">
    {{ self::social_item(title="Google Play", icon_name="fa-google-play") }}
  </a>
  {% endif %}

  {% if social_config.youtube %}
  <a class="has-text-youtube" href="https://www.youtube.com/c/{{ social_config.youtube }}" target="_blank">
    {{ self::social_item(title="YouTube", icon_name="fa-youtube") }}
  </a>
  {% endif %}

  {% if config.generate_feed %}
  <a class="has-text-rss" href="{{ config.base_url }}/{{ config.feed_filename }}" target="_blank">
    {{ self::social_item(title="RSS Feed", icon_name="fa-rss", icon_type="fas") }}
  </a>
  {% endif %}
{% endmacro %}

{% macro support_links(support_config) %}
{% if support_config.github_sponsors %}
<a class="has-text-githubsponsors" href="https://github.com/sponsors/{{ support_config.github_sponsors }}" target="_blank">
  {{ self::social_item(title="Github Sponsors", icon_name="fa-heart", icon_type="far") }}
</a>
{% endif %}

{% if support_config.liberapay %}
<a class="has-text-liberapay" href="https://liberapay.com/{{ support_config.liberapay }}/donate" target="_blank">
  {{ self::social_item(title="LiberaPay", icon_name="fa-gratipay") }}
</a>
{% endif %}
{% endmacro support_links %}

{% macro social_item(title, icon_name, icon_type="fab") %}
<span class="icon is-large" title="{{ title }}">
  <i class="{{ icon_type }} {{ icon_name }} fa-2x"></i>
</span>
{% endmacro social_item %}

{% macro page_publish_metadata(page) %}
<span class="icon-text has-text-grey">
  <span>Published on</span>
  <span class="icon">
    <i class="far fa-calendar-alt"></i>
  </span>
  <span><time datetime="{{ page.date }}">{{ page.date | date(format='%B %d, %Y') }}</time></span>
</span>
{% endmacro %}

{% macro page_content_metadata(page) %}
<span class="icon-text has-text-grey">
  <span class="icon">
    <i class="far fa-clock"></i>
  </span>
  <span>{{ page.reading_time }} min,</span>
  <span class="icon">
    <i class="fas fa-pencil-alt"></i>
  </span>
  <span>{{ page.word_count }} words</span>
</span>
{% endmacro %}

{% macro render_categories(categories) %}
<p>
  Categories:
  {% for category in categories %}
  <a class="has-text-info-dark has-text-weight-semibold"
    href="{{ get_taxonomy_url(kind='categories', name=category) }}">
    <span class="icon-text">
      <span class="icon">
        <i class="fas fa-cube"></i>
      </span>
      <span>{{category}}</span>
    </span>
  </a>
  {% endfor %}
</p>
{% endmacro %}

{% macro render_tags(tags) %}
<p>
  Tags:
  {% for tag in tags %}
  <a class="has-text-info-dark has-text-weight-semibold" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
    <span class="icon-text">
      <span class="icon">
        <i class="fas fa-tag"></i>
      </span>
      <span>{{tag}}</span>
    </span>
  </a>
  {% endfor %}
</p>
{% endmacro %}

{% macro recent_posts(post_section) %}
{{ self::recent_items(post_section=post_section, title="Recent Posts", list_icon="fa-pen-to-square") }}
{% endmacro recent_posts %}

{% macro recent_projects(post_section) %}
{{ self::recent_items(post_section=post_section, title="Recent Projects", list_icon="fa-code", show_date=false) }}
{% endmacro recent_projects %}

{% macro recent_items(post_section, title, list_icon, show_date=true) %}
<section class="section">
  <div class="columns">
    <div class="column">
      <h2 class="title">{{ title }}</h2>
    </div>
    <div class="column">
      <ul class="fa-ul">
        {% for page in post_section.pages | slice(end=3) %}
        <li>
          <span class="icon fa-li">
            <i class="fas {{ list_icon }}"></i>
          </span>
          <div class="post">
            <h3>
              <a href="{{ page.permalink }}">
                {{ page.title }}
              </a>
            </h3>
            <p>
              {{ page.description }}
            </p>
            {% if show_date %}
            <span class="icon-text has-text-grey">
              <span class="icon">
                <i class="far fa-calendar-alt"></i>
              </span>
              <span><time datetime="{{ page.date }}">{{ page.date | date(format='%B %d, %Y') }}</time></span>
            </span>
            {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endmacro recent_items %}
